<div class="container">
  <div class="card-panel">
    <h1 class="center-align"><%= t('.sign_up') %></h1>
    <div class="row center">
      <div class="col s12 m12 l12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "cc_form"}) do |f| %>
          <%= bootstrap_devise_error_messages! %>
          <% @email = Faker::Internet.email %>
          <% @password = "123456" %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :email %>
              <%= f.email_field :email, value: @email, autofocus: true, autocomplete: 'email' %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.label :password %>
              <%= f.password_field :password, value: @password, autocomplete: 'current-password' %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, value: @password, autocomplete: 'current-password' %>
            </div>
          </div>
          <div class="row">
            
          <%#= render "charges/payment_fields" %>
          </div>
          <div class="input-field">
            <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
          </div>
        <% end %>
        
        <%= render 'devise/shared/links' %>
      </div>
  </div>
</div>

<%# TODO : Fix this mess %>
<script language="Javascript">

  // Stripe.setPublishableKey("<%= Rails.application.credentials[:stripe][:stripe_test_publishable_key] %>");
  Stripe("<%= Rails.application.credentials[:stripe][:stripe_test_publishable_key] %>");

</script>